@model PhotoSharing.Web.Models.Photo

@{
    ViewBag.Title = "Display";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    
   

        

        @if (Model.PhotoFile == null)
        {
            <img width="800px" src="">
        }
        else
        {
            <img src="@Url.Action("GetImage", new { id = Model.PhotoID })">
        }

        <p>@Html.DisplayFor(model => model.Description)</p>


        <p>
            @Html.DisplayNameFor(model => model.UserName) : @Html.DisplayFor(model => model.UserName)
        </p>

        <p>
            @Html.DisplayNameFor(model => model.CreatedDate): @Html.DisplayFor(model => model.CreatedDate)
        </p>


</div>
<p>
    <!--@Html.ActionLink("Edit", "Edit", new { id = Model.PhotoID }) |-->
    @Html.ActionLink("Back to List", "Index")
</p>
